.container{
    max-width: 840px;
    margin: 0 auto;
    padding: 0 16px;
}
.intro,.html-validator{
    text-align: center;
}
.project-img{
    border-radius: 50%;
}
h1{
    text-align: center;
}
p{
    font-weight: bold;
}
.Assignment{
    padding-left: 10px;
}
