body{
background-image:url("images/6.jpg")
}
.container{
    font-family: Arial, Helvetica, sans-serif;
	max-width: 840px;
	margin: 0 auto;
	padding: 0 16px;

}
.intro{
    text-align: center;

}
.mood{
 float:left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.myParagraph{
    text-align: center;
    font-size: 11px;
}

h1{
color:#FEF9E7;
}
h3{
    color:#FEF9E7;
}
dt{
    color: #F7EA2C;
}
a:link {
  text-decoration: none;
}