body{

    background-image: url("recipeImages/silverware.jpg");
    color: #404040;
    font-size: 11px;
    font-family: Georgia, Garamond, serif;
}
.mainHeading{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
h2{

    color: #A4A400;
    font-size: 18px;
    text-align: left;
    font-family: Lucida Sans Unicode, Helvetica , "Arial", serif;
    text-decoration: underline;
}
h2 span{
    background-color: #F0F0F0;
}
a{
    color: #A4A400 ;
}

abbr{
    border-bottom: 1px dotted black;
    display: inline;
}
.bullets {
  list-style-image: url('recipeImages/pie_icon.gif');
}

blockquote{
    background-color:#FFFFA8;
}

.myParagraph{
    float: right;
}
pre{
clear: right;
float: right;
}

